a:hover{
    /*color: no;*/
    text-decoration: none;
}
.cycleBtn{
    width: 5em;
    height: 5em;
    border-radius: 5em;
}
.pointer{
    cursor: pointer
}
.author{
    background-color: #5a5a5a;
    color: white;
    font-weight: bold;
}

.articleContent{
    height: 35em;
}

.svgIcon{
    width: 20px;
    height: 20px;
}

.foot_link{
    color:#525251;
}
.content_height{
    min-height: 42em;
}

.head_list_left{
    border-left:1px solid #ccc ;
}

.head_list_right{
    border-right:1px solid #ccc ;
}

.articleContent pre ,#editor pre{
    padding: 2em;
    width: 100%;
    background-color: #ccc;
    color: black;
}
body{
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
    background-color: #efefee;
}

.techList_line {
    /*width: 1px;*/
    height: 16em;
    /*background-color: #dededd;*/
}

/*.techList:after {*/
/*    box-sizing: border-box;*/
/*}*/

.techList li{
    font-weight: 600;
    font-size: 1.3em;
    color: #80817f;
    list-style: none;
    margin-bottom: 2em;
}

.techListLi1{
    text-align: right;
}

.techListLi2{
    text-align: left;
}

.timeToolBox{
    height: 70%;
    width: 100%;
    background-color: black;
    color: white;
    line-height: 2em;
    border-radius: 20%;
    font-weight: 200;
}

.sideBarBox{
    margin-bottom: 20%;padding-left: 2em;padding-right: 2em;
}
.sideBarTitle{
    line-height: 4em;font-size: 1.125em;font-weight: 500;
}

.topPosition{
    position:relative;top: 3em;
}

.aboutTitle{
    border-left: .25rem solid #4ebbaa; padding-left: 1em;
    margin-bottom: 1em;
}

.aboutContent{
    margin-bottom: 2em;
}
.aboutMe p {
    /*line-height: 1em;*/
}

.btnA{
    border-color: #4ebbaa;
    background-color: #00947d;
}

.btnA:hover{
    border-color: white;
    background-color: #00947d;
    animation: namemf 0.15s linear 2;

}
.btnB{
    border-color: #6bc30d;
    background-color: #6bc30d;
}
.btnB:hover{
    border-color: white;
    background-color: #6bc30d;
    animation: namemf 0.15s linear 2;
}




@keyframes namemf{
    0%{
        transform:rotate(0deg) ;
    }
    25%{
        transform: rotate(15deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-15deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.gray{
    background-color: #636b6f;
    color: white;
}

.red{
    background-color: red;
    color: white;
}

.searchArticleShowItem{
    background-color: #e4e4e4;
    border-bottom: 1px solid white!important;
    /*color: black;*/
}